<h3 class="text-center my-2">Template Driven From With Validations</h3><hr>

<div class="container">
  <div *ngIf="status" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Your data has been submitted successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-5">
      <form #profileForm="ngForm" (ngSubmit)="Submitdata(profileForm)">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" ngModel name="name" required minlength="3" #name="ngModel">
          <small class="text-danger" *ngIf="name.touched && !name.valid">Enter Valid Name</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input  type="text" class="form-control" ngModel name="email" required email #email="ngModel">
          <small class="text-danger" *ngIf="email.touched && !email.valid">Enter Valid Email</small>
        </div>
        <div class="form-group">
          <label for="mno">Mobile Number</label>
          <input  type="text" class="form-control" ngModel name="mobile" required minlength="10" maxlength="10" #num="ngModel">
          <small class="text-danger" *ngIf="num.touched && !num.valid">Enter Valid Mobile Number</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" name="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-5">
      {{ profileForm.value | json }} <br>
      Entered Name: {{Name}} <br>
      Entered Email: {{Email}} <br>
      Entered Mobile Number: {{Number}} <br>
    </div>
  </div>
</div>
